@charset "utf-8";
 /*CSS Document*/
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
    margin:0;
    padding:0;
}
html,body{
    /* height:100%; */
    background:#f3f3f3;
}
body{font-family:"微软雅黑",Arial;
    /*display:flex;*/
    /*flex-direction:column;*/
    background:white;
}
a{
    text-decoration:none;
    cursor:pointer;
}
ul,ol{
    list-style:none;
}
img{
    border:none;
    display:block;
}
/* all */

/*!* header *!*/
/*header{*/
    /*width:90%;*/
    /*height:80px;*/
    /*margin:0 auto;*/
/*}*/
/*header h1{*/
    /*float:left;*/
    /*color:white;*/
    /*line-height:80px;*/
/*}*/
/*#txt{*/
    /*margin:32px 400px 0 100px;*/
    /*height:20px;*/
    /*background:#200031;*/
    /*color:white;*/
    /*border:none;*/
    /*outline: none;*/
    /*float:left;*/
/*}*/
/*header div a{*/
    /*display:block;*/
    /*float:left;*/
    /*width:80px;*/
    /*height:80px;*/
    /*color:white;*/
    /*text-align:center;*/
    /*line-height:80px;*/
    /*margin: 0 10px;*/
/*}*/
/*header div a:hover{*/
    /*border-bottom:3px solid #ac0;*/
/*}*/
/*!* box *!*/
/*.box{*/

	/*width:200px;*/
    /*height:200px;*/
    /*margin:100px auto;*/
	/*transform-style:preserve-3d;*/
	/*animation:lft 10s infinite linear;*/

/*}*/
/*.box a:nth-child(-n+6){*/
	/*display:block;*/
	/*width:200px;*/
	/*height:200px;*/
    /*opacity:.6;*/
    /*background:pink;*/
    /*position:absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*transform-style:preserve-3d;*/
    	/*transition:all 1s;*/
/*}*/
/*.box a:nth-child(n+7){*/
	/*display:block;*/
	/*width:100px;*/
	/*height:100px;*/
    /*opacity:.4;*/
    /*background:#ac0;*/
    /*position:absolute;*/
    /*left:50px;*/
    /*top:50px;*/
    /*transform-style:preserve-3d;*/
/*}*/
/*@keyframes lft{*/
	/*0%{*/
		/*transform:rotateX(0deg) rotateY(0deg);*/
	/*}*/
	/*100%{*/
		/*transform:rotateX(360deg) rotateY(360deg);*/
	/*}*/
/*}*/
/*.box a:nth-child(1){*/
	/*transform:translateZ(100px);*/
/*}*/
/*.box a:nth-child(2){	*/
    /*transform:rotateY(180deg) translateZ(100px);*/
/*}*/
/*.box a:nth-child(3){*/
	/*transform:rotateY(-90deg) translateZ(100px);*/
/*}*/
/*.box a:nth-child(4){*/
	/*transform:rotateY(90deg) translateZ(100PX);*/
/*}*/
/*.box a:nth-child(5){*/
	/*transform:rotateX(90deg) translateZ(100px);*/
/*}*/
/*.box a:nth-child(6){*/
	/*transform:rotateX(90deg) translateZ(-100px)*/
/*}*/
/*.box a:nth-child(7){*/
	/*transform:translateZ(50px);*/
/*}*/
/*.box a:nth-child(8){	*/
    /*transform:rotateY(180deg) translateZ(50px);*/
/*}*/
/*.box a:nth-child(9){*/
	/*transform:rotateY(-90deg) translateZ(50px);*/
/*}*/
/*.box a:nth-child(10){*/
	/*transform:rotateY(90deg) translateZ(50px);*/
/*}*/
/*.box a:nth-child(11){*/
	/*transform:rotateX(90deg) translateZ(50px);*/
/*}*/
/*.box a:nth-child(12){*/
	/*transform:rotateX(90deg) translateZ(-50px)*/
/*}*/
/*.box:hover{*/
	/*animation-play-state:paused;*/
/*}*/
/*.box:hover a:nth-child(1){*/
	/*transform:translateZ(150px);*/
/*}*/
/*.box:hover a:nth-child(2){	*/
    /*transform:rotateY(180deg) translateZ(150px);*/
/*}*/
/*.box:hover a:nth-child(3){*/
	/*transform:rotateY(-90deg) translateZ(150px);*/
/*}*/
/*.box:hover a:nth-child(4){*/
	/*transform:rotateY(90deg) translateZ(150px);*/
/*}*/
/*.box:hover a:nth-child(5){*/
	/*transform:rotateX(90deg) translateZ(150px);*/
/*}*/
/*.box:hover a:nth-child(6){*/
	/*transform:rotateX(90deg) translateZ(-150px)*/
/*}*/
/*!* word *!*/
/*.word{*/
    /*width:100%;*/
    /*height:150px;*/
    /*!* background:pink; *!*/
    /*margin-bottom:50px;*/

/*}*/
/*.word h3{*/
    /*font-size:40px;*/
    /*color:white;*/
    /*text-align:center;*/
/*}*/
/*.word p{*/
    /*color:white;*/
    /*font-size:20px;*/
    /*text-align:center;*/
    /*margin:10px 0;*/
/*}*/
/*.word p:nth-child(3){*/
    /*display:flex;*/
    /*width:120px;*/
    /*height:50px;*/
    /*margin:0 auto;*/
    /*border:1px solid white;*/
    /*line-height:50px;*/
/*}*/
/*.word p:nth-child(3) img{*/
    /*width:20px;*/
    /*height:20px;*/
    /*margin:16px 5px 0 10px;*/
/*}*/
/*.word p:nth-child(3):hover{*/
    /*border-radius:18px;*/
/*}*/
/*.last{*/
    /*width:100%;*/
    /*height:300px;*/
    /*background:#efefef;*/
    /*display:flex;*/
    /*justify-content: space-around;*/

/*}*/
/*.one{*/
    /*width:25%;*/
    /*height:200px;*/
    /*border:1px solid #d3d3d3;*/
    /*padding:0 20px;*/
    /*margin-top:50px;*/
/*}*/
/*.one p{*/
    /*text-align:center;*/
/*}*/
/*.onea{*/
    /*height:50px;*/
    /*background:pink;*/
    /*background:url(../img/dl4.gif) repeat-x center;*/
/*}*/
/*.onea p{*/
    /*width:120px;*/
    /*line-height:50px;*/
    /*text-align:center;*/
    /*background:#efefef;*/
    /*margin:20px auto;*/
/*}*/
/*!* footer *!*/
/*footer{*/
    /*width:100%;*/
    /*height:100px;*/
    /*background:#efefef;*/
/*}*/
/*footer p{*/
    /*text-align:center;*/
    /*margin-bottom:10px;*/
/*}*/
